/*Search Bar and Container Holding It*/

.container {
    width: 40%;
    max-width: 100%;
    height: 130px;
    padding:2rem;
    max-width: 100%;
    margin: auto;
}

.searchbar {
    width: 80%;
    background-color: transparent;
    margin-top: 0.5rem;
    padding: 0.5rem;
    color:rgb(255, 255, 255);
    border-color: black;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-style: solid; 
    text-align: center;
    font-size: 30px;
    
}
.searchbar::placeholder {
    color:rgb(215, 213, 213)
}

.searchbar[type="text"]:focus {
    outline : none;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*Directions at Top of Page for User*/

.title {
    margin-top: 3rem;
    font-size: 30px;
    width:100%;
    text-align: center;

}

/*Button That Executes Search*/

.search-btn {
    border-radius: 10px;
    
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-style: solid;
    color:white;
    margin-top: 20px;
    width:250px;
    margin-left: 0px;
    height:25px
    
    
}

.search-btn:hover {
    background-color: rgb(48, 47, 47);
    cursor: pointer;
    transition: 1s;
}

/*Displayed Word That Was Searched*/

.wordsearched {
    font-size: 35px;
    letter-spacing: 1.5px;
    text-align: center;
}

/*Making Container, Search Bar, and Search Button Responsive*/

@media screen and (max-width: 300px) {

    .search-btn {
        border-radius: 10px;
        
        background-color: rgb(0, 0, 0);
        border-color: black;
        border-style: solid;
        color:white;
        margin-top: 10px;
        ;
        margin-left: 0px;
        
}
    
    

}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
        height: 130px;
        margin-top:1.5rem;
        max-width: 100%;
        margin: auto;
    }

    .search-btn {
        border-radius: 10px;
        
        background-color: rgb(0, 0, 0);
        border-color: black;
        border-style: solid;
        color:white;
        margin-top: 10px;
        width:200px;
        margin-left: 0px;
        
}
    .title {
    margin-top: 3rem;
    font-size: 20px;
    width:100%;
    text-align: center;
    letter-spacing: 1px;

}
.searchbar {
    
    font-size: 20px;
    
}
    

}


@media screen and (max-width: 1183px) {
    .container {
        width: 80%;
        height: 130px;
        margin-top:1.5rem;
        max-width: 100%;
        margin: auto;
    }
    .searchbar {
         
        text-align: center;
        
    }

    .search-btn {
        border-radius: 10px;
        
        background-color: rgb(0, 0, 0);
        border-color: black;
        border-style: solid;
        color:white;
        margin-top: 20px;
        width:150px;
        margin-left: 0px;
        
        
}
    
    

}